#root {
  height: 100%;
  box-shadow: rgba(24, 144, 255, 0.1) 0 0 28px 0;
  /* 部门样式处理 */
}
#root .container {
  height: 100%;
}
#root .container .main-content {
  position: relative;
  height: 100%;
  overflow-y: auto;
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}
#root .container .ant-table-wrapper {
  flex-grow: 1;
  background-color: #fff;
  overflow: auto;
}
#root .container .ant-table-wrapper .table-container {
  width: 100%;
  height: 100%;
}
#root .container .ant-table-wrapper .ant-table-thead > tr > th {
  white-space: nowrap;
}
#root .container .ant-table-wrapper .ant-table-row td {
  white-space: nowrap;
}
#root .container .ant-table-wrapper .ant-table-tbody .ant-table-row .ant-table-cell .editable-cell-value-wrap {
  min-width: 130px;
  display: flex;
  justify-content: space-between;
}
#root .container .ant-table-wrapper .ant-table-tbody .ant-table-row .ant-table-cell .editable-cell-value-wrap .detail-icon {
  display: none;
  color: #40a9ff;
  cursor: pointer;
}
#root .container .ant-table-wrapper .ant-table-tbody .ant-table-row .ant-table-cell .editable-cell-value-wrap input {
  margin-bottom: 0px;
}
#root .container .ant-table-wrapper .ant-table-tbody .ant-table-row .ant-table-cell .editable-cell-value-wrap:hover .detail-icon {
  display: block;
}
#root .container .ant-table-wrapper .ant-image {
  width: 40px;
}
#root .container .c-p {
  cursor: pointer;
}
#root .ant-layout-header {
  width: 100%;
  height: 72px;
  background-color: #fff;
  box-shadow: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
#root .ant-layout-header .button {
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
#root .side-bar {
  box-shadow: rgba(24, 144, 255, 0.1) 0 0 28px 0;
  z-index: 10;
}
#root .side-bar :global .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#root .side-bar .brand {
  z-index: 1;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.2);
}
#root .side-bar .brand .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
#root .side-bar .brand .logo img {
  width: 36px;
  margin-right: 8px;
}
#root .side-bar .brand .logo h1 {
  vertical-align: text-bottom;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  color: #1890ff;
  white-space: nowrap;
  margin-bottom: 0;
  background-image: -webkit-gradient(linear, 37.219838% 34.532506%, 36.425669% 93.178216%, from(#29cdff), to(#0a60ff), color-stop(0.37, #148eff));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#root .side-bar .menu-container {
  height: calc(100vh - 120px);
  overflow-x: hidden;
  flex: 1;
  padding: 24px 0;
}
#root .side-bar .menu-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}
#root .side-bar .menu-container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
#root .side-bar .menu-container :global .ant-menu-inline {
  border-right: none;
}
#root .c-r {
  cursor: pointer;
}
#root .department-container {
  margin: 20px;
  min-height: calc(100% - 40px);
  background-color: #fff;
  width: 100%;
  overflow: auto;
}
#root .department-container .create-department-btn {
  position: fixed;
  top: 23px;
  left: 260px;
}
#root .department-container .create-department-btn.small {
  left: 150px;
}
#root .department-container .org-tree-node-label {
  cursor: pointer;
}
.department-modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
}
.delete-icon {
  cursor: pointer;
}
.department-staff-list-wrapper .ant-table-content {
  overflow-x: auto;
}
.department-staff-list-wrapper .ant-table-cell {
  white-space: nowrap;
}
.staff-wrapper {
  min-width: 130px;
  display: flex;
  justify-content: space-between;
}
.staff-wrapper .detail-icon {
  display: none;
  color: #40a9ff;
  cursor: pointer;
}
.staff-wrapper input {
  margin-bottom: 0px;
}
.staff-wrapper:hover .detail-icon {
  display: block;
}
.w-100 .ant-picker {
  width: 100%;
}
